<!DOCTYPE html>
<html>

<head>
  <title>PROJECT 1</title>
  <link rel="stylesheet" text/css" href="static/style.css">
</head>

<body>
  WELCOME, Please enter your details below:

  <table width="500" border="1">
    <tr>
      <form action="submit_form" method="post">
        <td>Full Name: </td>
        <td><input id="fullname" name="fullname" /></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td> <input id="address" name="address" /> </td>
    </tr>
    <tr>
      <td>Phone: </td>
      <td> <input id="phone" name="phone" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button id="submit" type="submit">Submit</button></td>
    </tr>
    </form>
  </table>
  <script src="static/script.js"> </script>
</body>

</html>